
.section-1{
    margin-top: 32px;
    width: 100vw;
    height: 80vh;
    display: flex;
    
    
}
.co{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    box-shadow: inset 3px 5px 3px rgba(50 50 52 / 11%),  inset -3px -5px 3px rgb(50 50 52 / 11%);
}
.section-1 h1 {
    color: rgb(218 60 11 / 83%);
    font-style: italic;
    font-family: cursive;
    font-size: 35px;
    border-radius: 4px;

}

.section-1 p {
    color: brown;
 margin-left: 4px;
    font-family: sans-serif;
    
}
.section-1 button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 9px;
    background-color: #b5291fed;
    margin-top: 5px
}
.section-1 button:hover{
    border-color: rgba(120, 47, 47, 0.808);
    padding: 11px;
    
}
.section-1 img{
    border-radius: 9px;
   
    box-shadow: 3px 3px 8px rgba(59, 41, 18, 0.553);
    height: 100%;
     /* width: 85%; */
    /* margin-left: 170px; it is good for 800 wala */

    /* width: 50%; */
    /* margin-left: 520px; */
    width: 500px;
    margin-left: 90%;
  
}

@media(max-width:990px){
    .section-1 img{
        border-radius: 9px;
       
        box-shadow: 3px 3px 8px rgba(59, 41, 18, 0.553);
        height: 100%;
         width: 85%;
        margin-left: 270px; 
    }
}

@media(max-width:989px){
    .section-1 img{
        border-radius: 9px;
       
        box-shadow: 3px 3px 8px rgba(59, 41, 18, 0.553);
        height: 100%;
         width: 85%;
        margin-left: 210px; 
    }
}
@media(max-width:850px){
    .section-1 img{
        border-radius: 9px;
       
        box-shadow: 3px 3px 8px rgba(59, 41, 18, 0.553);
        height: 100%;
         width: 85%;
        margin-left: 170px; 
    }
}

@media(max-width:750px){
    .section-1 img{
        border-radius: 9px;
       
        box-shadow: 3px 3px 8px rgba(59, 41, 18, 0.553);
        height: 100%;
         width: 85%;
        margin-left: 120px; 
    }
}

@media(max-width:695px){
    .section-1 img{
        border-radius: 9px;
       
        box-shadow: 3px 3px 8px rgba(59, 41, 18, 0.553);
        height: 100%;
         width: 85%;
        margin-left: 80px;
    }
}
@media(max-width:660px){
    .section-1 img{
        border-radius: 9px;
       
        box-shadow: 3px 3px 8px rgba(59, 41, 18, 0.553);
        height: 100%;
         width: 85%;
        margin-left: 30px; 
    }
}
@media(max-width:590px){
    .section-1{
        justify-content: center;
        padding: 15px;
    }
    .co{
        display: flex;
        flex-direction: column;
        padding: 12px;
       
    }
    .co button{
        margin-top: 8px;
    }
    .section-1 img{
        border-radius: 9px;
       
        box-shadow: 3px 3px 8px rgba(59, 41, 18, 0.553);
        height: 100%;
         width: 85%;
        margin-left: 80px; 
    }
}
@media(max-width:565px){
    .section-1 img{
        border-radius: 9px;
       
        box-shadow: 3px 3px 8px rgba(59, 41, 18, 0.553);
        height: 100%;
         width: 95%;
        margin-left: 15px; 
    }
}
@media(max-width:530px){
    /* section 2 */
.section-1{
    /* border: 2px solid white;
    width: 100vw;
    height: 80vh;
    display: flex;
     */
     flex-wrap: wrap;
    
}

.section-1 img{
    border-radius: 9px;
   
    box-shadow: 3px 3px 8px rgba(59, 41, 18, 0.553);
    height: 50%;
     width: 60%;
     display: block;
    margin: auto; 
   
  
}
   
}
/* coffe sey pehlay */